<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrgames13.jimdo.splashscreen" >

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".App.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>
